header {
    position: relative;
    height: 550px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e6e6e6;

    .carousel-container {
        height: 550px;
        position: absolute;
        top:0;
        left: 0;
        right: 0;
    }
}
